<div>
  <form #form="ngForm" (ngSubmit)="getCustomer(form.value)">
    <label >ID</label>
    <input type="text" name="id" ngModel>
    <button type="submit">Get</button>
  </form>
</div>
<div *ngIf="view=='yes'">
  <form #addForm="ngForm" (ngSubmit)="onAddCustomer(addForm)">
    <label >Name</label>
    <input type="text" name="name" placeholder="{{customer.name}}" ngModel>
    <br>
    <label >Username</label>
    <input type="text" name="username" placeholder="{{customer.username}}" ngModel>
    <br>
    <label >Password</label>
    <input type="text" name="password" placeholder="{{customer.password}}" ngModel>
    <br>
    <label >Email</label>
    <input type="text" name="email" placeholder="{{customer.email}}" ngModel>
    <br>
    <label >ImgUrl</label>
    <input type="text" name="imgUrl" placeholder="{{customer.imgUrl}}"ngModel>
    <br>
    <button type="submit">submit</button>
  </form>
</div>

<div *ngIf="viewForSuccess=='yes'">
  <p>Record Updated</p>
</div>
